# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Setup python3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          echo ${{ github.event.pull_request.base.ref }}
          echo ${{ github.event.pull_request.head.ref }}
          echo ${{ github.ref }}
          echo ${{ github.base.ref }}
          echo ${{ github.base_ref }}
          echo ${{ github.head_ref }}

          set -x
          response=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/PaddlePaddle/PaddleFormers/commits/${{ github.sha }}/pulls)
          pr_number=$(echo $response | jq -r '.[0].url' | awk -F'/' '{print $NF}')
          
          # set -x
          # set +e
          # wget https://xly-devops.cdn.bcebos.com/PaddleFleet/precision/PaddleFleet_latest/glm45_dpo_multi_card_gt_loss.txt
          # cat glm45_dpo_multi_card_gt_loss.txt
          # wget https://xly-devops.bj.bcebos.com/PaddleFleet/precision/PaddleFleet_latest/glm45_dpo_multi_card_gt_loss.txt
          # cat glm45_dpo_multi_card_gt_loss.txt
          # export AK=${{ secrets.AK }}
          # export SK=${{ secrets.SK }}
          # python -m pip install bce-python-sdk==0.8.74
          # wget -q --no-proxy -O bos_new.tar.gz https://xly-devops.bj.bcebos.com/home/bos_new.tar.gz --no-check-certificate
          # mkdir bos
          # tar xf bos_new.tar.gz -C bos
          # echo "aa" >> aa.txt
          # python bos/BosClient.py aa.txt xly-devops/PaddleFleet/precision/PaddleFormers_latest
