name: first

on:
  push:
    branches:
      - main

jobs:
  job1:
    name: first
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          echo first
          echo ${{ toJson(github.event.pull_request) }}
          echo ${{ secrets.AK }}

  job2:
    name: second
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          echo ${{ github.event.pull_request }}
          echo ${{ secrets.AK }}
          echo second
          echo "${{ toJson(github.event) }}"

  job3:
    name: third
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          echo ${{ github.sha }}
          echo ${{ github.event.push.after }}
          response=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GITHUB_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/OWNER/REPO/commits/COMMIT_SHA/pulls)
          echo $response
          pr=$(echo $response | jq -r '.url')
          echo $pr
          echo "${{ toJson(github) }}"
          echo ${{ github.event.pull_request }}
