name: first

on:
  push:
    branches:
      - main

jobs:
  job1:
    name: first
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          echo first
          echo ${{ toJson(github.event.pull_request) }}
          echo ${{ secrets.AK }}

  job2:
    name: second
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          set +e
          wget https://xly-devops.cdn.bcebos.com/PaddleFleet/precision/lastest/precision_list.txt
          if [ $? -eq 0 ]; then
            echo "right"
          fi

  job3:
    name: third
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -x
          echo ${{ github.sha }}
          echo "${{ github.event.after }}"
          response=$(curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ github.token }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/swgu98-test/action-test/commits/${{ github.sha }}/pulls)
          echo $response
          pr_number=$(echo $res | jq -r '.[0].url' | awk -F'/' '{print $NF}')
          echo $pr_number

  job4:
    name: forth
    uses: ./.github/workflows/call.yml





