name: first

on:
  pull_request:
    types:
      - closed

jobs:
  job1:
    name: first
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          echo first
          echo ${{ github.event.pull_request }}

  job2:
    name: second
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          echo ${{ github.event.pull_request }}
          echo first
          echo ${{ github.event.pull_request }}
