name: first

on:
  pull_request:
    types:
      - closed
  push:
    branches:
      - main

jobs:
  job1:
    name: first
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -e
          echo first
          echo ${{ toJson(github.event.pull_request) }}
          echo ${{ secrets.AK }}

  job2:
    name: second
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -e
          echo ${{ github.event.pull_request }}
          echo ${{ secrets.AK }}
          echo second
          echo "${{ toJson(github.event) }}"

  job3:
    name: third
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Update paddle
        run: |
          set -e
          echo ${{ github.event.pull_request }}
          echo ${{ secrets.AK }}
          echo third
          echo "${{ toJson(github) }}"
          echo ${{ github.event.pull_request }}
